<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
	  internalLogFile="${basedir}\Logs\internal-nlog.log"
      >

	<targets>
		<target xsi:type="File" name="file" fileName="${basedir}\Logs\all-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${callsite}|${message} ${exception:format=tostring}" />
		<target xsi:type ="Console" name="console"/>
	</targets>
	<rules>
		<logger name="SyncAvatar.*" minlevel="Trace" writeTo="file" />
		<logger name="SyncAvatar.*" minlevel="Trace" writeTo="console" />
	</rules>
</nlog>